node_modules
dist
npm-debug.log
.env
.env.example
.git
.gitignore
.vscode
Dockerfile
.dockerignore
performance
scripts
test
README.md
DEPLOYMENT.md
firebase.json
.firebaserc
.firebase
dataconnect
eslint.config.mjs
tsconfig.build.json
nest-cli.json
